.shade {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.popup {
  padding: calc(var(--spacing) * 3);
  background-color: var(--platinum);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  max-width: 90vw;
  min-width: 300px;
  gap: calc(var(--spacing) * 3);
  position: relative;
}

.titlebar {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: flex-start;
  justify-items: flex-start;
}

.title {
  font-family: var(--font);
  font-weight: 600;
  font-size: 2.2rem;
  margin: 0;
}

.dialogtext {
  font-family: var(--font);
  font-size: 1.2rem;
  margin: 0;
  word-break: break-word;
  max-width: 75vw;
}

.dangertext {
  color: var(--orange);
}

.close {
  font-family: var(--font);
  font-weight: 600;
  font-size: 1.2rem;
  border: 0px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
}

.fullbuttonbar {
  grid-template-columns: 1fr;
}

.buttonbar {
  display: grid;
  grid-template-columns: 75px 1fr;
  grid-template-rows: min-content;
  gap: var(--spacing);
}
