.header {
  width: 100%;
  background-color: var(--white);
  border-bottom: 1px solid var(--platinum);
  padding: var(--spacing) calc(var(--spacing) * 2);
  box-sizing: border-box;
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow);
}

.chorelogo {
  font-family: var(--font);
  font-weight: 400;
  font-size: 24px;
  user-select: none;
}
