.textbox {
  font-family: var(--font);
  padding: calc(var(--spacing) * 3);
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
}

.subtitle {
  font-family: var(--font);
  font-size: 1.3rem;
  margin: 0;
}

.bold {
  font-weight: 600;
}

.buttonchoice {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--spacing);
}
